body {
  background-color: white;
  body
}

h1{
text-align: center;
font-family: Lato, serif;
color: tomato;

}

h2{
  text-align: center;
  font-family: Lato, serif;
}

p{
  text-align:center;
  font-family: Lato, serif;
}

form{
  text-align: center;
}
